  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&family=Roboto&family=Roboto+Flex&family=Ubuntu:ital@1&display=swap');

  * {
      margin: 0;
      padding: 0;
  }

  body {
      /* background-color: rgb(255, 245, 231); */
      font-family: 'Noto Sans', sans-serif;
      margin-inline: 50px;

  }

  .navbar {
      display: flex;
      width: 100%;
      height: 60px;
      justify-content: space-between;
      /* border: 1px solid red; */
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
  }

  .navbar a img {
      width: 200px;
  }

  .navbar .nav-links ul {
      display: flex;
      list-style-type: none;
      margin-left: 100px;
  }

  .navbar .nav-links ul li {
      margin-left: 30px;
      font-weight: 550;
  }

  .navbar .button-2 .sign-in {
      width: 80px;
      border: 0.5px solid rgb(173, 114, 255);
      border-radius: 4px;
      padding: 7px;
      font-weight: 600;
      font-size: 15px;
      background-color: #ffffff;
      transition: 0.2s ease;

  }

  .navbar .button-2 .sign-in:hover {
      color: rgb(173, 114, 255);
  }

  .navbar .button-2 .sign-up {
      width: 80px;
      border: none;
      border-radius: 4px;
      padding: 7px;
      background-color: rgb(173, 114, 255);
      color: #fff;
      font-weight: 600;
      font-size: 15px;
      transition: 0.2s ease;
  }

  .navbar .button-2 .sign-up:hover {
      background-color: rgb(148, 77, 255);

  }

  /*main section*/
  .main-1 {
      height: 450px;
      display: flex;
      /* border: 1px solid red; */
      align-items: center;
      justify-content: center;
      margin-top: 20px;
  }

  .main-1 .text-main-1 h1 {
      font-size: 45px;
      max-width: 400px;
      /* border: 1px solid red; */
      margin-bottom: 30px;
  }

  .main-1 .text-main-1 p {
      font-size: 20px;
      max-width: 550px;
      /* border: 1px solid red; */
      margin-bottom: 30px;

  }

  .main-1 img {
      width: 90vh;
      margin-left: 20px;
  }

  .main-1 .text-main-1 #get_started {
      width: 100px;
      padding: 10px;
      border: none;
      background-color: rgb(173, 114, 255);
      border-radius: 3px;
      font-weight: 550;
      font-size: 15px;
      color: #fff;
  }

  .main-1 .text-main-1 #get_started:hover {
      background-color: rgb(148, 77, 255);

  }

  .company {
      /* border: 1px solid red; */
      text-align: center;
      margin: 40px 0 40px 0;
  }

  .company p {
      font-size: 18px;
      margin: 10px 0 30px 0;
      color: rgb(51, 51, 51);
  }

  .company .company-img ul {
      display: flex;
      list-style-type: none;
      align-items: center;
      justify-content: space-between;
      /* border: 1px solid red; */
      margin-bottom: 100px;
  }

  .company .company-img ul li img {
      width: 150px;
  }

  /*-------*/

  .research .research-head {
      /* border: 1px solid red; */
      text-align: center;
      margin: 0 0 30px 0;

  }

  .research .research-head button {
      width: 200px;
      border: 1px solid rgb(189, 145, 255);
      border-radius: 4px;
      padding: 8px;
      margin-top: 20px;
      font-size: 16px;
      font-weight: 600;
      color: rgb(26, 26, 26);
      transition: 0.2s ease;
  }

  .research .research-head button:hover {
      color: rgb(148, 77, 255);
      border-color: rgb(148, 77, 255);
  }

  /*card row one*/
  .research-card-one {
      /* border: 1px solid red; */
      display: flex;
      margin: 60px;
      justify-content: space-between;
  }

  /*first card*/

  .research-card-one .first-card {
      width: 300px;
      height: 220px;
      /* border: 1px solid red; */
      text-align: center;

  }

  .first-card img {
      width: 50px;

  }

  .first-card h3 {
      font-size: 20px;
  }

  .first-card p {
      margin-top: 20px;
      font-size: 18px;
  }

  .first-card button {
      width: 140px;
      border: 1px solid rgb(189, 145, 255);
      border-radius: 4px;
      padding: 8px;
      margin-top: 20px;
      font-size: 16px;
      font-weight: 600;
      color: rgb(26, 26, 26);
      transition: 0.2s ease;
  }

  .first-card button:hover {
      color: rgb(148, 77, 255);
      border-color: rgb(148, 77, 255);
  }

  /*second-crad*/

  .research-card-one .second-card {
      width: 300px;
      height: 220px;
      /* border: 1px solid red; */
      text-align: center;

  }

  .second-card img {
      width: 50px;

  }

  .second-card h3 {
      font-size: 20px;
  }

  .second-card p {
      margin-top: 20px;
      font-size: 18px;
  }

  .second-card button {
      width: 140px;
      border: 1px solid rgb(189, 145, 255);
      border-radius: 4px;
      padding: 8px;
      margin-top: 20px;
      font-size: 16px;
      font-weight: 600;
      color: rgb(26, 26, 26);
      transition: 0.2s ease;
  }

  .second-card button:hover {
      color: rgb(148, 77, 255);
      border-color: rgb(148, 77, 255);
  }

  /*third-card*/
  .research-card-one .third-card {
      width: 300px;
      height: 220px;
      /* border: 1px solid red; */
      text-align: center;

  }

  .third-card img {
      width: 50px;

  }

  .third-card h3 {
      font-size: 20px;
  }

  .third-card p {
      margin-top: 20px;
      font-size: 18px;
  }

  .third-card button {
      width: 140px;
      border: 1px solid rgb(189, 145, 255);
      border-radius: 4px;
      padding: 8px;
      margin-top: 20px;
      font-size: 16px;
      font-weight: 600;
      color: rgb(26, 26, 26);
      transition: 0.2s ease;
  }

  .third-card button:hover {
      color: rgb(148, 77, 255);
      border-color: rgb(148, 77, 255);
  }

  /*------*/

  .research-card-two {
      /* border: 1px solid red; */
      display: flex;
      margin: 60px;
      justify-content: space-between;
  }


  .research-card-two .fourth-card {
      width: 300px;
      height: 220px;
      /* border: 1px solid red; */
      text-align: center;

  }

  .fourth-card img {
      width: 50px;

  }

  .fourth-card h3 {
      font-size: 20px;
  }

  .fourth-card p {
      margin-top: 20px;
      font-size: 18px;
  }

  .fourth-card button {
      width: 140px;
      border: 1px solid rgb(189, 145, 255);
      border-radius: 4px;
      padding: 8px;
      margin-top: 20px;
      font-size: 16px;
      font-weight: 600;
      color: rgb(26, 26, 26);
      transition: 0.2s ease;
  }

  .fourth-card button:hover {
      color: rgb(148, 77, 255);
      border-color: rgb(148, 77, 255);
  }

  /*------*/
  .research-card-two .fifth-card {
      width: 300px;
      height: 220px;
      /* border: 1px solid red; */
      text-align: center;

  }

  .fifth-card img {
      width: 50px;

  }

  .fifth-card h3 {
      font-size: 20px;
  }

  .fifth-card p {
      margin-top: 20px;
      font-size: 18px;
  }

  .fifth-card button {
      width: 140px;
      border: 1px solid rgb(189, 145, 255);
      border-radius: 4px;
      padding: 8px;
      margin-top: 20px;
      font-size: 16px;
      font-weight: 600;
      color: rgb(26, 26, 26);
      transition: 0.2s ease;
  }

  .fifth-card button:hover {
      color: rgb(148, 77, 255);
      border-color: rgb(148, 77, 255);
  }


  /*------*/
  .research-card-two .sixth-card {
      width: 300px;
      height: 220px;
      /* border: 1px solid red; */
      text-align: center;

  }

  .sixth-card img {
      width: 50px;

  }

  .sixth-card h3 {
      font-size: 20px;
  }

  .sixth-card p {
      margin-top: 20px;
      font-size: 18px;
  }

  .sixth-card button {
      width: 140px;
      border: 1px solid rgb(189, 145, 255);
      border-radius: 4px;
      padding: 8px;
      margin-top: 20px;
      font-size: 16px;
      font-weight: 600;
      color: rgb(26, 26, 26);
      transition: 0.2s ease;
  }

  .sixth-card button:hover {
      color: rgb(148, 77, 255);
      border-color: rgb(148, 77, 255);
  }


  /*----*/

  .platform .platform-head {
      /* border: 1px solid red; */
      text-align: center;
      margin: 0 0 30px 0;

  }

  .platform .platform-head button {
      width: 200px;
      border: 1px solid rgb(189, 145, 255);
      border-radius: 4px;
      padding: 8px;
      margin-top: 20px;
      font-size: 16px;
      font-weight: 600;
      color: rgb(26, 26, 26);
      transition: 0.2s ease;
  }

  .platform .platform-head button:hover {
      color: rgb(148, 77, 255);
      border-color: rgb(148, 77, 255);
  }

  .platform-sections {
      height: 300px;
      /* border: 1px solid red; */
      justify-content: space-between;
      display: flex;
  }

  .platform-sections .notes {
      box-sizing: border-box;
      width: 200px;
      height: 100%;
      /* border: 1px solid red; */
      overflow: hidden;
  }

  .platform-sections .notes p {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0.7);
      color: rgb(0, 0, 0);
      padding: 10px;
      font-size: 18px;

  }

  .notes img {
      height: 100%;
      margin-left: -150px;
  }

  .platform-sections .path_finder {
      box-sizing: border-box;
      width: 200px;
      height: 100%;
      /* border: 1px solid red; */
      overflow: hidden;

  }

  .path_finder img {
      height: 100%;
  }

  .platform-sections .audience {
      box-sizing: border-box;
      width: 200px;
      height: 100%;
      /* border: 1px solid red; */
      overflow: hidden;
  }

  .audience img {
      width: 400px;
      height: 100%;
      margin-left: -100px;

  }

  .platform-sections .visitor {
      box-sizing: border-box;
      width: 200px;
      height: 100%;
      /* border: 1px solid red; */
      overflow: hidden;

  }

  .visitor img {
      width: 400px;
      height: 100%;
      margin-left: -100px;

  }

  /*------*/
  .testing_container {
      /* border: 1px solid red; */
      margin: 100px 0 50px 0;
      width: 100%;
      height: 300px;
      text-align: center;
  }

  .testing_container h1 {
      font-size: 40px;
      margin-top: 30px;
  }

  .testing_container p {
      margin-top: 30px;
      font-size: 18px;

  }

  .testing_container button {
      font-weight: 600;
      font-size: 15px;
      margin-top: 30px;
      color: #000000;
      background-color: rgb(171, 116, 255);
      padding: 8px 15px 8px 15px;
      border: 1px solid rgb(102, 0, 255);
      transition: 0.3s ease;
  }

  .testing_container button:hover {
      color: rgb(111, 111, 111);
      border-color: rgb(0, 0, 0);

  }

  /*------*/
  .footer {
      display: flex;
      background-color: rgb(233, 218, 255);
      justify-content: space-between;
      padding-top: 30px;
      padding-bottom: 30px;
      border-radius: 10px;
      margin-bottom: 50px;
  }

  .footer img {
      position: relative;
      bottom: 90px;
      margin-left: 20px;
  }

  .footer ul li {
      list-style-type: none;
      line-height: 25px;
      color: rgb(46, 46, 46);
      font-weight: 600;
      transition: 0.3s ease;

  }

  .footer ul li:hover {
      color: rgb(126, 40, 255);

  }

  .footer h4 {
      font-size: 20px;
      padding-bottom: 20px;
  }

  /*------*/
  .banner {
      width: 100%;
      height: 70px;
      /* border: 1px solid red; */
      display: flex;
      justify-content: space-around;
      background-color: rgb(224, 204, 255);
  }

  .condition {
      /* border: 1px solid red; */
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .condition p {
      margin-left: 40px;
      font-weight: 600;
      cursor: pointer;
  }



  .social_media {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .social_media i {
      margin-left: 30px;
  }

  .social_media i:hover {
      color: rgb(98, 98, 98);
      cursor: pointer;

  }